---
interface ProjectsData {
  id: number;
  image: string;
  type: string;
  title: string;
  description: string;
  techs: string[];
  demoLink: string;
  githubLink: string;
}

import { projects } from '../mocks/projectsData.astro'
import ProjectCard from './ProjectCard.astro';
---

<section id="projects" class="text-gray-600 body-font">
  <div class="container px-5 mx-auto">
    <div class="flex justify-center mb-10">
      <h2 class="lg:inline-block text-3xl">
        <span class="sm:text-3xl text-2xl font-medium title-font mb-4 text-indigo-500">Mis Proyectos</span>
      </h2>
    </div>
    <div class="flex flex-wrap -m-4">

      {
        projects.map(({image, type, title, description, techs, demoLink, githubLink}: ProjectsData) => (
          <ProjectCard
            image={image}
            type={type}
            title={title}
            description={description}
            tech={techs}
            demoLink={demoLink}
            githubLink={githubLink}
          />
        ))
      }

    </div>
  </div>
</section>
